body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    text-align: center;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
  }
  
  .biggest-heading {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .colored-section {
      background-color: #ff4c68;
      color: #fff;
  }
  .white-section{
      background-color: #fff;
  }
  
  .container-fluid {
    padding: 7% 15%;
  }
  
  /* navbar */
  
  .navbar-brand {
    font-family: "ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .nav-item {
    margin: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-weight: 200;
  }
  
  /* download buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* title container */
  
  #title {
      text-align: left;
    }
  
  #title .container-fluid 
  {
      padding: 3% 15% 7%;
  }
  
  /* Title Image */
  
  .title-image {
    width: 60%;
    border-radius: 15%;
    /* transform: rotate(25deg); */
    position: absolute;
    right: 5%;
  }
  
  /* features */
  
  #features {
    position: relative;
  }
  
  .feature-box {
    padding: 5%;
  }
  
  .icon {
    color: #ef8172;
    margin-bottom: 1rem;
  }
  .icon:hover {
    color: #ff4c68;
  }
  
  .fea-h3 {
    font-family: "Montserrat" sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
  }
  .fea-p {
    color: #8f8f8f;
  }
  
  /* Testimonial section  */
  
  #testimonials {
    background-color: #ef8172;
  }
  
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    height: 15rem;
    margin: 20px;
  }
  
  
  /* press */
  
  #press {
    background-color: #ef8172;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  /* Courses section */
  
  #courses {
    padding: 100px;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .blank {
      color: #fff;
  }
  

  .course{
      /* color: #F67280; */
      color: #FFB6B9;
  }
  
  .course:hover{
      text-decoration: none;
      /* color: #FFB6B9; */
      color: #F67280;
  }
  .pdf{
    color: #333;
  }
  .pdf:hover{
    color:#000;
    text-decoration: none;
  }
  .pdf-link{
    list-style: none;
  }
  .price-text {
    line-height: 1.5;
    font-size: 3rem;
  }
  
  .courses-column {
    padding: 3% 2%;
  }
  
  /* cta */
   
  .cta-button {
    margin: 50px 10px 100px;
  }
  
  /* Footer */
  
  
  
  .footer-p {
    color: gray;
  }
  
  .social-icon {
    margin: 20px 10px;
  }
  
  /* media Query */
  
  @media (max-width: 990px) {
    #title {
      text-align: center;
    }
    .title-image {
      transform: rotate(0deg);
      position: static;
    }
    .testimonial-text {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
  
  @media (max-width : 650px){
      .biggest-heading{
         font-size: 2.5rem; 
      }
      .navbar-brand{
          font-size: 2rem;
      }
  }